.root {
  padding: 8px;
  background-color: var(--surface-raised);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  box-shadow: var(--overlay-shadow);
  outline: none !important;
}

.title {
  display: block;
  margin-bottom: 16px;
}

.content {
  display: block;
}

.content > :not(:last-child) {
  margin-bottom: 8px;
}

.contentItem {
  display: block;
}
