.cardimg {
  object-fit: cover;
}

.content {
  padding: var(--page-padding);
}

.context {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.context > * {
  flex: 1;
}

.ml {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ml:not(:last-child) {
  margin-bottom: 8px;
}

.mlrank {
  width: 48px;
}

.artists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
