.row {
  height: 48px;
  overflow: hidden;
}

.names {
  min-width: 0;
}

.names > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.names > :first-child {
  margin-bottom: 4px;
}
